.header{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    box-shadow: 2px 2px 2px  grey;
}

.inner-div-1{
    margin: 1rem;
}
.home-span{
    padding: 0.5rem;
}

.inner-ul{
    list-style: none;
    margin: 1rem;
    display: flex;
}

.inner-ul>li{
    padding: 0.5rem;
}
.inner-ul>li:hover{
    border-bottom: 2px solid black;
}